app==0.0.1

Flask==1.1.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.4.0
Flask-User==1.0.1.5
Flask-WTF==0.14.2

qrcode==6.1
Pillow==7.0.0

gunicorn
Psycopg2-binary

chromedriver-binary==77.0.3865.40.0
setuptools>=41.0.0
numpy==1.18.0
selenium
proxy_requests
urllib3==1.24
requests==2.21.0
scikit-build
cvlib
opencv-python
colorama
tensorflow

faker
fake-useragent
