<html>
  <head>
    {% if title %}
    <title>{{title}} - QRenkov</title>
    {% else %}
    <title>QRenkov</title>
    {% endif %}
    <script src="https://hcaptcha.com/1/api.js" async defer></script>

  </head>
  <body>
    <div>QR code generator: <a href="/index">Home</a></div>
    <hr>
    <div id="app-wrapper" style="text-align:center; margin-top: 10px; border-top-width: 50px; border-top-style: solid; border-bottom-width: 50px; border-bottom-style: solid;">
      <div id="form-wrapper" style="text-align:center">
      {% block content %}{% endblock %}
      </div>
    </div>
    <div id="NEON_elmt" style="margin:0 auto;"></div>
    <script data-cfasync='false' type='text/javascript' src='//neon.today/native/script/47901/10848/'></script>
  </body>
</html>
