{% extends "base.html" %}
{% block content %}
<div class="limiter">
    <div class="container-login100" style="background-image: url('../static/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" method="POST">
                <span class="login100-form-title p-b-49">
                    QR code generator
                </span>
                
                <div class="text-center p-t-8 p-b-31"><h2>Block 1</h2></div>

                <div class="wrap-input100 validate-input m-b-23" data-validate = "Name must be 1-160 chars">
                    <span class="label-input100">Name</span>
                    <input class="input100" type="text" name="Name" placeholder="1-160 chars">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Personal account must be 20 digits">
                    <span class="label-input100">Personal Account</span>
                    <input class="input100" type="text" name="PersonalAcc" placeholder="20 digits">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Bank name must be 1-45 chars">
                    <span class="label-input100">Bank Name</span>
                    <input class="input100" type="text" name="BankName" placeholder="1-45 chars">
                    <span class="focus-input100" data-symbol="&#xf195;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate="BIK must be 9 digits">
                    <span class="label-input100">BIC</span>
                    <input class="input100" type="text" name="BIC" placeholder="9 digits">
                    <span class="focus-input100" data-symbol="&#xf221;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Corresp. Account must be 9 digits">
                    <span class="label-input100">Corresp. Acc.</span>
                    <input class="input100" type="text" name="CorrespAcc" placeholder="20 digits or '0'">
                    <span class="focus-input100" data-symbol="&#xf200;"></span>
                </div>

                <div class="text-center p-t-8 p-b-31"><h2>Block 2</h2></div>

                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Sum</span>
                    <input class="input100" type="text" name="Sum">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Purpose</span>
                    <input class="input100" type="text" name="Purpose">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">First Name</span>
                    <input class="input100" type="text" name="FirstName">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Last Name</span>
                    <input class="input100" type="text" name="LastName">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Middle Name</span>
                    <input class="input100" type="text" name="MiddleName">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Payee INN</span>
                    <input class="input100" type="text" name="PayeeINN">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">KPP</span>
                    <input class="input100" type="text" name="KPP">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Payer Address</span>
                    <input class="input100" type="text" name="PayerAdress">
                    <span class="focus-input100"></span>
                </div>

                <br>

                <div class="h-captcha" style="text-align:center" data-sitekey="56d88e41-e727-4062-8b9f-9cf598dafbd9"></div>

                <br>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            GENERATE CODE
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
<!--

Sum — сумма платежа, в копейках;
Purpose — наименование платежа (назначение);
LastName — фамилия плательщика;
FirstName — имя плательщика;
MiddleName — отчество плательщика;
PayerAddress — адрес плательщика.


    NAME = 'ООО "Рога и копыта"'  # max 160
    PERSONAL_ACC = '40708407654768768769'  # max 20
    BANK_NAME = 'АО "АЛЬФА-БАНК"'  # max 45
    BIC = '044525593'  # max 9
    CORRESP_ACC = '30101810200000000593'  # max 20

    SUM = '100500'  # max 18
    PURPOSE = 'Оплата заказа 123123123'  # max 210
    PAYEE_INN = '9876856765'  # max 12
    PAYER_INN = '6666131313'  # max 12
    DRAWER_STATUS = '00'  # max 2
    KPP = '345437436'  # max 9
    CBC = '0000000000000000000'  # max 20
    OKTMO = '00000000000'  # max 11
    PAYT_REASON = '00'  # max 2
    TAX_PERIOD = '0000000000'  # max 10
    DOC_NO = '000000000000000'  # max 15
    DOC_DATE = '0000000000'  # max 10
    TAX_PAYT_KIND = '00'  # max 2

    LAST_NAME = 'Куренков'
    FIRST_NAME = 'Антон'
    MIDDLE_NAME = 'Андреевич'
    PAYER_ADRESS = 'Россия, Санкт-Петербург, ул. Ленсовета, д. 50, кв. 19'
    PERSONAL_ACCOUNT = '00000000'

-->